<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed impedit
        ratione ab velit cumque blanditiis molestiae odio ipsum dolor
        voluptatibus nihil sit, explicabo non tenetur iste tempora facilis
        dignissimos atque.
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get started</a>
  </div>
</div>
