<div class="collapsible">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item1</h2>

    <img class="icon collapsible__chevron" src="/icons/chevron.svg" alt="" />
  </header>

  <div class="collapsible__content">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor quasi labore
    est inventore dignissimos delectus quisquam autem quidem nam harum
    recusandae qui iure, repellendus, aut tempore architecto pariatur tenetur
    assumenda!
  </div>
</div>

<!-- collapsibles javascript -->

<!-- const menu = document.querySelectorAll('.collapsible');


menu.forEach((item) => {
    item.addEventListener('click', function ()  {
        this.classList.toggle("collapsible--expanded")
    })
}) -->
